@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>Praca zaliczeniowe z przedmiotu Programowanie aplikacji WWW w środowisku .Net</a>.</p>
    <p1>Strona służąca do dodawania,edytowania i usuwania pracowników.</p1>
</div>
